<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">
  <link rel="stylesheet" type="text/css" href="/styles.css">
  <link type='text/javascript' href="/..client/questions.js">

  <title></title>
  <script src='https://cdn.firebase.com/js/client/2.2.1/firebase.js'></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.0.7/angular.min.js"></script>
  <script type="text/javascript" src='/jquery.js'></script>
</head>
<body class='layout'>

<div class="jumbotron" id='layoutjumbo'>
        <h1 id='title' class='intro'>Let us decide for you</h1>
        <p class="intro">Using state of the art AI we decide what's best for you</p>
        <form class="form-inline" role="form">

        <div class="form-group">
        </div>
        <div class="container">
          <form role="form" class='col-xs-4' type='submit'> 
              <label for="text" style="font-size: x-large">Should I</label>
              <input id='value' type="text" class="form-control" placeholder="go to the gym today?">
            <a id='bigassbutton' href="/ornah" class="btn btn-lg btn-success">or nah</a>
          </form>
        </div>
        <!-- <a id='hiddenbutton' type='submit' href="/ornah">hello</a> -->
</div>



</body>
</html>
