<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Nope</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">
  <link rel="stylesheet" type="text/css" href="/styles.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.0.7/angular.min.js"></script>
  <script src='https://cdn.firebase.com/js/client/2.2.1/firebase.js'></script>
  <script type="text/javascript" src='/jquery.js'></script>

</head>
<body class="yup">
<div class='jumbotron' id='nojumbo'>
  <h1 id='title' class='intro'>Nah!</h1>
  <h1 class='intro'>Take a nap instead! </h1>

</div>
<div class="container">
     <iframe src="//giphy.com/embed/12ClTeBg4yvkiI" width="480" height="270" frameBorder="0" class="giph"></iframe>
</div>  
<div class='ayoForYayo'></div>
</body>
</html>