<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>You can do it</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">
  <link rel="stylesheet" type="text/css" href="/styles.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.0.7/angular.min.js"></script>
  <script src='https://cdn.firebase.com/js/client/2.2.1/firebase.js'></script>
  <script type="text/javascript" src='/jquery.js'></script>
</head>
<body class='nop'>
<div class='jumbotron' id='yesjumbo'>
  <h1 id='title' class='intro'>Yes!</h1>

</div>
<div class="container">
  <iframe class='gif' src="//giphy.com/embed/5xtDarHMgA3L5PsbVKM" width="480" height="300" frameBorder="0"></iframe>
</div>  
<div class='ayoForYayo yea'></div>
</body>
</html>